<h1>Welcome back, {{user}}</h1>
{{#each blogs}}
    <section class="card">
        <a class="link" href="/blogs/{{id}}"><h2>{{name}}</h2></a>
            <div class="card-body">
            <h3>{{description}}</h3>
            </div>
    </section>
    <br>
{{/each}}
<br><br>
<button>New Blog!</button>
