<h1>Login to your account</h1>
<form id='login'>
  <input id='username' placeholder='username' type='text' />
  <input id='password' placeholder='password' type='password' />
  <button type='submit'>Login</button>
</form>

<h1>Create an account!</h1>
<form id='signup-form'>
  <input id='signupusername' placeholder='username' type='text' />
  <input id='signuppassword' placeholder='password' type='password' />
  <button type='submit'>Sign-up</button>
</form>

<script src="/js/login.js"></script>
<script src="/js/signup.js"></script>