<section>
    <form id="newBlog-form">
        <input type="text" id="name" placeholder="name"><br>
        <textarea name="description" id="description" cols="100" rows="10"></textarea><br>
        <button>New Blog!</button>
    </form>
</section>

<script src="/js/newBlog.js"></script>