<h1>Welcome back, {{username}}</h1>
{{#each Blogs}}
    <section class="card">
        <a class="link" href="/blogs/{{id}}"><h2>{{name}}</h2></a>
            <div class="card-body">
            <h3>{{description}}</h3>
            </div>
    </section>
    <br>
{{/each}}
<br><br>
<section>
    <form id="newBlog-form">
        <input type="text" id="name" placeholder="name"><br>
        <textarea name="description" id="description" cols="100" rows="10"></textarea><br>
        <button>New Blog!</button>
    </form>
</section>

<script src="/js/newBlog.js"></script>